@import "tailwindcss";

@font-face {
  font-family: "Mokoto";
  src: url("./assets/fonts/Mokoto.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #272727;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in forwards;
}
